*{
  margin: 10 px;
  padding:0 px;
  text-align:center;
}

.sec2 {
  width:100%;
  overflow:auto;
}

ul li{
  float:left;
  padding: 0px 0px;
  list-style: none;
  width: 11.11%;
}

.sec3 {
  width:100%;
  position:absolute;
  top: 80%;
  transform: translateY(-50%);
  text-align: center;
}
