@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');



*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}



html{
  font-size: 10px; 
  font-family:'Open Sans', sans-serif;
}
 a{
   text-decoration: none;
 }
.container {
  min-height:100vh;
  width:100%;
  display: flex;
  align-items:center;
  justify-content: center;
}


/*header section*/
#header{
  background:lightblue;
  z-index:1000;
  position:fixed;
  width:100%;
}

#header .brand{
  font-size:2.5rem;
  font-weight: bold;
  color:white;
}

#header .nav{
  margin-left: 12%;
  margin-right: 12%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:lightblue;
  height:fit-content;
}

.nav .mainMenu{
  list-style:none;
  padding:0;
  margin:0;
  display:flex;
}

.mainMenu li{
  list-style:none;
  float:left;
  margin-top:1px;
  margin:1px;
}

.mainMenu li a{
  width:150px;
  color:white;
  display:block;
  text-decoration:none;
  font-size:20px;
  text-align:center;
  padding:20;
}

.mainMenu li a:hover{
  background-color:hsla(0,0%,100%,0.20);
}

.mainMenu li ul{
  background:lightblue;
}

.mainMenu li ul li{
  float:none;
}

.mainMenu li ul{
  display:none;
}

.mainMenu li:hover ul{
  display:block;
}

.has-dropdown{
  position:relative;
}

.submenu{
  position:absolute;
}

.arrow{
  width:0.5em;
  height:0.5em;
  display:inline-block;
  vertical-align:middle;
  border-left: 0.15em solid currentColor;
  border-bottom: 0.15em solid currentColor;
  transform:rotate(-45deg);
  margin-top:-0.25em;
}

.checkbtn{
  font-size:30px;
  color:white;
  float:left;
  line-height:80px;
  margin-right:40px;
  cursor:pointer;
  display:none;
  
}

#check{
  display:none;
}

@media (max-width:925px){

  #header .nav{
    position:relative;
    padding:1.5em 2em;
  }
  
  .mainMenu{
    opacity:0;
    transform: scaleY(0);
    transform-origin:top center;
  }

  .mainMenu>li>a{
    font: size 1.5rem;
    color:white;
  }
}

@media (max-width:858px){
  .checkbtn{
    display:block;
  }

  .mainMenu{
    position:fixed;
    width:100%;
    height:100vh;
    background:lightblue;
    top:80px;
    left:0;
    flex-flow:column;
    align-items:center;
    
  }

  .nav .mainMenu li{
    display:block;
  }

  .submenu{
    top:0;
    padding-left:1.5em;
  }

  .submenu .submenu{
    left:0;
    top:0;
  }

  .mainMenu >li:hover>a + .submenu{
    position:relative;
  }

  input[type="checkbox"]:checked +
  .mainMenu{
    position:absolute;
    opacity:1;
    transform:scaleY(1);
  }
}





/*
#header{
  background:lightblue;
  z-index:1000;
  position:fixed;
  width:100%;
}

#header .nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-left: 12%;
  margin-right: 12%;
}

#header .mainMenu{
  display:flex;
  flex-direction:row;
}

#header .mainMenu li{
  list-style:none;
}

#header .mainMenu li a{
  display:block;
  text-decoration:none;
  color:grey;
  padding:1em 5em;
  font-size:1.3rem;
}

.has-dropdown{
  position:relative;
}

.submenu{
  position:absolute;
  left:0;
  background-color:lightblue;
  white-space:nowrap;
  padding:1em 0;
  opacity:0;
  transform:scaleY(0);
  transform-origin: top center;
}

.submenu >li >a{
  padding:0.8em 1.5em;
}

.mainMenu > li:hover>a, .submenu> li:hover>a{
  background-color:hsla(0,0%,100%,0.20);
  color: yellow;
}



.arrow{
  width:0.5em;
  height:0.5em;
  display:inline-block;
  vertical-align:middle;
  border-left: 0.15em solid currentColor;
  border-bottom: 0.15em solid currentColor;
  transform:rotate(-45deg);
  margin-top:-0.25em;
}

.mainMenu>li:hover>a + .submenu, 
.submenu> li:hover>a{
  opacity:1;
  transform: scaleY(1);
}

.mainMenu .li:hover .a{
  background-color:hsla(0,0%,0%,0.95%);
}
/**
#header{
  z-index:1000;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:80px;
  display:flex;
}
#header .nav{
  background:grey;
  height:80 px;
  width:100%;
}

#header .nav label.brand{
  color:white;
  font-size:25px;
  line-height:80px;
  padding:0 12%;
}

.nav .mainMenu{
  float:right;
  margin-right:12%;
}

.nav .mainMenu li{
  display: inline-block;
  line-height: 80px;
  margin-inline: 30px;
}

.nav .mainMenu li a{
  color:white;
  font-size:17px;
}
**/


/*end of header section*/

#intro {
  background-color:lightgray;
  background-size:cover;
  background-position:top-center;
  position:relative;
}


#intro h1{
  display:block;
  width:fit-content;
  font-size:4rem;
  position:relative;
  color:white;
}


/* Work Section*/

.big-container .section-title{
  margin-right: 12%;
  margin-left:12%;
  margin-top:4%;
  margin-bottom:0;
  font-size:4rem;
}


.work-container{
  margin-right: 12%;
  margin-left:12%;
  margin-top:2%;
  margin-bottom:6%;
  height:250;
  display:flex;
  overflow-x:hidden;
}

#work .icon img{
  width:355 ;
  height:250 ;
}

#work .work-left{
  width:355;
}

#work .work-right{
  width:100%;
  max-height:250;
}

#work .work-right h2{
  margin-right: 0;
  margin-left:5%;
  margin-top:0%;
  margin-bottom:0%;
  font-size:2.5rem;
}

#work .work-right p{
  margin-right: 0;
  margin-left:5%;
  margin-top:0%;
  margin-bottom:0%;
  font-size:1.5rem;
}

#work .work-right a{
  margin-right: 0;
  margin-left:5%;
  margin-top:0%;
  margin-bottom:0%;
  font-size: 1.5rem;
}


/* end of Work Section*/

/* Play Section*/

.big-container2 {
  margin-top:4%;
}

.big-container2 .section-title2{
  margin-right: 12%;
  margin-left:12%;
  margin-top:4%;
  margin-bottom:0;
  font-size:4rem;
}


.play-container{
  margin-right: 12%;
  margin-left:12%;
  margin-top:2%;
  margin-bottom:6%;
  height:250;
  display:flex;
  overflow-x:hidden;
}

#play .icon2 img{
  width:250 ;
  height:250 ;
}

#play .play-left{
  width:250;
}

#play .play-right{
  width:100%;
  max-height:250;
}

#play .play-right h2{
  margin-right: 0;
  margin-left:5%;
  margin-top:0%;
  margin-bottom:0%;
  font-size:2.5rem;
}

#play .play-right p{
  margin-right: 0;
  margin-left:5%;
  margin-top:0%;
  margin-bottom:0%;
  font-size:1.5rem;
}

#play .play-right a{
  margin-right: 0;
  margin-left:5%;
  margin-top:0%;
  margin-bottom:0%;
  font-size: 1.5rem;
}


/*end of play section */

/*contact section */
.small-container{
  width:100%;
  display: flex;
  align-items:center;
  justify-content: center;
 
  margin-top:4%;
  margin-bottom:4%;

}
#contact .small-container a{
  margin-right: 0;
  margin-left:4%;
  margin-top:4%;
  margin-bottom:0%;
  font-size: 2rem;
}

/*end of contact section*/

/**Work page section**/
#restaurant-info{
  
  height:max-content;
  margin-left:12%;
  margin-right:12%;
  display:flex;
  overflow-x:hidden;
}

.restaurant-top h1{
  color:grey;
  font-size:50px;
  margin-top:10%;
}

.restaurant-top h2{
  color:grey;
  font-size:35px;
  margin-top:2%;
  margin-bottom:10%;
}

.restaurant-top h3{
  color:grey;
  font-size:28px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.restaurant-top p{
  color:grey;
  font-size:22px;
}

#otherwork {
  margin-top:4%;
  margin-left:12%;
  margin-right:12%;
  display:flex;
  overflow:hidden;
  background:green;
}

.work2{
}

#otherwork 
.work2img{
  width:355 ;
  height:250 ;
}

.work2header{
  background: blue;
  margin-bottom:10%;
  font-size:2.5rem;
  color:grey;
}

.work2img img{
  background-color:purple;
  width:355 ;
  height:250 ;
}
/**end of work pagesection**/

/**play page section**/
#play-fr {
  margin-left:12%;
  margin-right:12%;
  display:flex;
  overflow-x:hidden;
}

.play-fr-container h1{
  margin-top:10%;
  color:grey;
  font-size:50px;

}
.play-fr-container .project-type{
color:grey;
  font-size:35px;
  margin-top:2%;
  margin-bottom:10%;
}

.play-fr-container .project1{
    color:grey;
    font-size:28px;
    margin-top: 5%;
    margin-bottom: 5%;
}


.play-fr-right{
  float:right;
  width:50%;
  background-color:red;
}

.play-fr-left img{
  width:500;
  background-color:red;
}

.play-fr-left{
  float:left;
  width:40%;
  background-color:blue;
}

/**end of play page section**/

.carousel {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}